nav {
    height: 180px;
    background: red;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    height: 100%;
    align-items: center;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}

a {
    display: flex;
    align-items: center;
    height: 100%;
}



.logo {
    height: auto;
    max-height: 100%;
}

.logoa a:nth-child(1){
    background-image: url("../img/logo2.png");  
    background-size: 100%;
    width: 180px;
    height: 100%;
}
