nav {
    height: 180px;
    display: flex;
    align-items: center;
}

.ulContenair {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.liulmidle{
    width: 75%;
}
.ulmidle{
    width: 100%;
    display: flex;
}

.logoContener{
    width: 180px;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.alogo {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    height: auto;
    max-height: 80%;
    margin-top: 5%;
}

/* login sign up */
.login{
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid orange;
}

.signUp{
    background-color: orange;
    color: black;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

.login:hover{
    color: black;
    background-color: orange;
    border: 2px solid black;
}

.signUp:hover{
    color: white;
    background-color: black;
    border: 2px solid orange;
}



.langSelect{
    background-color: white;
    height: 60px;
    width: 120px;
    border-radius: 10px;
    position: relative;
}

.optLange {
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 50px;
}


.optLange .langOpt:first-child, .optLange .langDefaux:first-child {
    padding-top: 5px;
}

.langOpt, .langDefaux{
    display: flex;
    height: 60px;
    width: 120px;
    justify-content: space-around;
}

.langImg{
    display: flex;
    align-items: center;
}

.langImg img{
    height: 30px;
    width: 30px;
}

.langTxt{
    display: flex;
    align-items: center;
}