nav {
    height: 180px;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    height: 100%;
    align-items: center;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.alogo {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    height: auto;
    max-height: 100%;
    margin-top: 5%;
}